@tailwind base;
@tailwind components;
@tailwind utilities;
 

.img{
    border-radius: 10px 5px 7px 10px;
    box-shadow: 3px 3px 5px rgb(169, 25, 25)
}
.desc{
    line-height: 50px;
    font-size: 20px;
    word-wrap: break-word;
    font-weight: 900;
    letter-spacing: 5px;
    word-spacing: 5px;
}